

 :root {
  --maim-text-color: rgba(33, 33, 33, 1);
  --secondary-text-color: rgba(117, 117, 117, 1);
  --bg-color: rgba(255, 255, 255, 1);
  --bg-buttons-color-hover: rgba(33, 150, 243, 1);
  --footer-bg-color: rgba(47, 48, 58, 1);
  --color-section: rgba(245, 244, 250, 1);
}


body {
  background-color: white;
  color: var(--maim-text-color);
  font-family: roboto, sans-serif;
  font-size: 14px;
  
}
 
h1,h2,h3,h4,h5,h6,p {
  margin-top: 0px;
  margin-bottom: 0px;
}

img {
  display: block;
  max-width: 100%;
}

 
.container {
   /* outline: 1px solid red;   */
  width: 1200px;
  
  padding-left: 15px;
  padding-right: 15px;

  margin-left: auto;
  margin-right: auto;

}

.header {
  border-bottom: 1px solid rgba(236, 236, 236, 1);
}

ul {
  list-style: none;
  
}


/* логотип */


.main-nav {
  display: flex;
  align-items: center;

  
}

.logo-header {
  font-family: Raleway, sans-serif;
  font-size: 26px;
  text-decoration: none;
  color: var(--bg-buttons-color-hover);
  line-height: 1.19;
  font-weight: 700;
  

  margin-right: 93px;
  padding-top: 25px;
  padding-bottom: 25px;
  

}


.accent-logo {
  color: var(--maim-text-color);
  line-height: 1.19;
  font-weight: 700;

}


/* навігація по сайту */

.site-nav {
 display: flex;
  color: var(--maim-text-color);
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}



.site-nav .item:not(:last-child) {
  margin-right: 50px;

}
.contacts .item:last-child {
  margin-left: 48px;
}

.site-nav-link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  text-decoration: none;
  color: var(--maim-text-color);
  line-height: 1.14;
  font-weight: 500;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
  
}

.site-nav-link:hover,
.site-nav-link:focus {
  color:var(--bg-buttons-color-hover);
  
  
}


.carent {
  text-decoration: none;
  
}

.carent-heading {
  background-color: var(--bg-buttons-color-hover);
  color: var(--bg-color);
}
 

.carent::after {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  
  width: 100%;
  height: 4px;
  background-color: rgba(33, 150, 243, 1);
  border-radius: 2px;


}


.contacts {
  display: flex;
  align-items: center;
  align-content: center;


  font-weight: 500;

  margin-left: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}




.contacts .item + .item {
  margin-left: 50px;
}

.link {
  display: block;
  
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--secondary-text-color);
  text-decoration: none;
  line-height: 1.14;
  font-weight: 500;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.link:hover, 
.link:focus {
  color: var(--bg-buttons-color-hover);
}

.icon {
  fill: currentColor;
}

.icon {
  margin-right: 10px;
  
}



/* іконки */






.icon-benefits {
  display: flex;
  justify-content: center;
  align-items: center;

  
 background-color: rgba(245, 244, 250, 1);
 border-radius: 4px;
 width: 270px;
 height: 120px;

 margin-bottom: 30px;

 
}







/* секція герой */

.hero {
  max-width: 1600px;
  height: 600px;

  margin-left: auto;
  margin-right: auto;
  
  background-color: var(--footer-bg-color);
  color:var(--bg-color);
  text-align: center;

  padding-top: 200px;
  padding-bottom: 200px;
  
  
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),  url(../images/Img.hero.jpg);
 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero-title {
  max-width: 500px;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;

  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}


/* кнопки */

.button-hero {
  line-height: 1.87;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  color: var(--bg-color);
  background-color: var(--bg-buttons-color-hover);
  font-family: inherit;
  border-radius: 4px;
  border: none;
  padding: 10px 32px;


  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-accent {
  text-transform: capitalize;
  
}

.button-hero:hover,
.button-hero:focus{
  background-color: rgba(24, 140, 232, 1);
  color: var(--bg-color);
  font-weight: 700;
  
}
 



.carent {

  color: var(--bg-buttons-color-hover)
}





/* секція два */


.section-benefits {
  padding-top: 94px;
  padding-bottom: 94px;
}


.benefits {
  display: flex;
  
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}

.benefits-title:not(:last-child) {
  margin-right: 30px;
}



.subtitle {
  line-height: 1.14;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px; 
  padding-bottom: 10px;
}

.text {
  color: var(--secondary-text-color);
  line-height: 1.71;
  font-weight: 400;
}

/* чим ми займаємось */ 

.section {
  
  padding-bottom: 94px;

}

.img {
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  
}

.title-photo:not(:last-child) {
  padding-right: 30px;
}

.title{
  font-size: 36px;
  line-height: 1.16;
  font-weight: 700;

 margin-bottom: 50px;
 text-align: center;

}


/* позиціонування */


.image {
  height: auto;
}

.text-photo {
  position: relative;
  
}


.container-desktop {
  position: absolute;
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: center;


  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.applications {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  color: rgba(255, 255, 255, 1);
  

}



/* наша команда */



.team {
 background-color: var(--color-section);
 padding-bottom: 94px;
 padding-top: 94px;
}

.our-team {
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}



.team-item:not(:last-child) {
  margin-right: 30px;
}



.subject-content {
  background-color: var(--bg-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}


.photo {
  display: block;
  max-width: 100%;
  height: auto;

}

.team-subject {
  padding-top: 30px;
  padding-bottom: 30px;

 
 
}

.subject {
  font-size: 16px;
  line-height: 1.18;
  font-weight: 500;
  text-align: center;
  
  margin-bottom: 10px;
}

.content {
  font-size: 16px;
  color: var(--secondary-text-color);
  line-height: 1.18;
  font-weight: 400;
  
  margin-bottom: 16px;

  text-align: center; 
}

/* іконки наша команда */

.socials-networks {
  display: flex;
  justify-content: center;
  align-items: center;

  padding-left: 0px;

  
}


.socials-item:not(:last-child) {
  margin-right: 10px;
}

.socials-link{
  display:flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;

  background-color: rgba(255, 255, 255, 1);
  border-radius: 50%;


  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}

.socials-link:hover ,
.socials-link:focus {
  background-color: rgba(33, 150, 243, 1);
 
}


.socials-link:hover .socials-icon,
.socials-link:focus .socials-icon {
  fill: #ffffff;
}





.socials-icon {
  fill: #AFB1B8;
}


 







/* секція постійні клієнти */


.section-clients {
  display: flex;
  padding-bottom: 94px;
 padding-top: 94px;
}

.team-clients {
  display: flex;
  justify-content: center;
  

  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}



.item-clients:not(:last-child) {
  margin-right: 30px;

}

.clients-link {
  width: 170px;
  height: 92px;
  border: 1px solid rgba(175, 177, 184, 1);
  border-radius: 4px;
 
  display: flex;
  justify-content: center;
  align-items: center;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.clients-link:hover, 
.clients-link:focus {
  color: rgba(33, 150, 243, 1);
  border-color: rgba(33, 150, 243, 1);
}


.icon-clients:hover,
.icon-clients:focus{
  fill : currentColor;
} 



.icon-clients {
  fill: rgba(175, 177, 184, 1);
}





/* портфоліо */

/* кнопки портфоліо */

.section-button {
  line-height: 1.62;
  font-size: 16px;
  font-weight: 500;
  
  padding: 6px 22px;
  border-radius: 4px;
  border: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.section-button:hover,
.section-button:focus {
  background-color: var(--bg-buttons-color-hover);
  color: var(--bg-color);
  cursor: pointer;
  font-weight: 500;

  box-shadow: 0px  3px 1px  rgba(0, 0, 0, 0.1), 0px  1px 2px rgba(0, 0, 0, 0.08), 0px  2px 2px rgba(0, 0, 0, 0.12);
}

 


.portfolio .btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
  
.portfolio .btn-secondary {
  margin-right: 8px;
}
  
.portfolio .btn-secondary:last-child {
  margin-right: 0px;
}
  
.secondary-button {
  font-weight: 500;
}
  

  
  
.btn {
  margin-top: 0px;
  margin-bottom: 50px;
  padding-left: 0px;
}


.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}




.title-text {
  padding: 20px 24px;
  border: 1px solid rgba(238, 238, 238, 1);
  border-top: 0px;
}

.portfolio-team {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0px;

 margin-bottom: -30px;
 padding-left: 0px;

 

}

.portfolio-team .item-gallery {
  margin-right: 30px;
  margin-bottom: 30px;
  
}

.portfolio-team .item-gallery:nth-child(3n) {
  margin-right: 0;
}

.item-gallery {
  transition: box-shadow  250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item-gallery:hover,
.item-gallery:focus {
  box-shadow: 0px  1px 1px  rgba(0, 0, 0, 0.12), 0px  4px 4px rgba(0, 0, 0, 0.06), 1px  4px 6px rgba(0, 0, 0, 0.16);

  

}

.photo-portfolio {
  display: block;
  max-width: 100%;
  height: auto;
}





.heading-link {
  text-decoration: none;
}

.headline {
  font-size: 18px;
  color: var(--maim-text-color);
  line-height: 2;
  font-weight: 700;
  margin-bottom: 4px;
  

}

.section-content {
  font-size: 16px;
  color: var(--secondary-text-color);
  line-height: 1.87;
 font-weight: 400;
 
}


.link-accent {
  color: var(--bg-color);
  font-family: roboto, sans-serif;
  text-decoration: none;
  line-height: 1.71;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
 padding-bottom: 9px;


 transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-accent:hover,
.link-accent:focus {
  color: var(--bg-buttons-color-hover)

}



/* анімація картки порфоліо */




.heading-link:hover .text-gallery  {
 opacity: 1;
  
 transform: translateY(0%);
}




.box-image {
  position: relative;
  overflow: hidden;
}



.text-gallery {
  display: flex;
  position: absolute;

  font-family: Roboto, sans-serif;
  font-size: 18px;
  color: rgba(255, 255, 255, 1);
  line-height: 1.6;
  font-weight: 400;
  background-color: rgba(33, 150, 243, 0.9);

  width: 100%;
  height: 100%;

  top: 0;
  left: 0;

  padding: 63px 24px ;
  

  opacity: 0;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
  
}









/* підвал */

.container-footer {
  display: flex;
  align-items: baseline;

  width: 1200px;
  
 padding-left: 15px;
 padding-right: 15px;

 margin-left: auto;
 margin-right: auto;

}



.footer-address {
  margin-right: 70px;
}


.footer {
  background-color: var(--footer-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-footer {
  color: var(--bg-color);
  
}

.footer-logo {
  display: inline-block;
  font-family: Raleway, sans-serif;
  font-size: 26px;
  text-decoration: none;
  color: var(--bg-buttons-color-hover);
  line-height: 1.19;
  font-weight: 700;
  
  padding-bottom: 20px;
}


.footer-container {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  
}

.footer-container .mail {
  padding-bottom: 9px;
}

.link-footer {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  line-height: 1.71;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;


  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.link-footer:hover,
.link-footer:focus {
  color: var(--bg-buttons-color-hover);
}

/* приєднуйтесь */



.team-footer {
  display: flex;
  margin: 0px;
  padding-left: 0px;
  
}


.title-footer {
  font-family: roboto, sans-serif;
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
  font-style: normal;
  line-height: 1.14;
  font-weight: 700;

  margin-bottom: 20px;
  
}


.icon-footer {
  fill: #FFFFFF;
}



.social-footer:not(:last-child) {
  margin-right: 10px;
}


.link-social{
  display:flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;

  background-color: rgba(255, 255, 255, 0.1);

  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}

.link-social:hover ,
.link-social:focus {
  background-color: rgba(33, 150, 243, 1);
 
}

/* підпишіться на розсилку */

.footer-gmail {
  margin-left: 93px;
}

.gmail-form {
  display: flex;
}

.gmail-input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: var(--footer-bg-color);

  padding-left: 16px;
}

.gmail-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;

  
}

.button-gmail {
  display: flex;
  
  width: 200px;
  height: 50px;

  line-height: 1.87;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  color: var(--bg-color);
  background-color: var(--bg-buttons-color-hover);

  border-radius: 4px;
  border: none;
  padding: 10px 62px 10px 29px;
  margin-left: 12px;
}

.button-gmail:hover,
.button-gmail:focus{
  background-color: rgba(24, 140, 232, 1);
  color: var(--bg-color);
  font-weight: 700;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-plane {
  
  margin-left: 10px;
}


/* Модальне вікно */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2,1);
  
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}


.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 528px;
  height: 581px;

  background-color: #FFFFFF;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2)

}

.modal-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: #FFFFFF;
  border-radius: 50%;
  border: solid 1px rgba(0, 0, 0, 0.1); 
  margin-left: auto;
  margin-right: 8px;
  margin-top: 8px;
}




.modal-button:hover + .modal-icon,
.modal-button:focus + .modal-icon {
  fill: var(--bg-buttons-color-hover);
}

.modal-button:hover,
.modal-button:focus {
fill: var(--bg-buttons-color-hover);
}


/* form */

.footer-text {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.17;
  color: var(--maim-text-color);
  text-align: center;
  margin-bottom: 12px;
}

textarea {
  resize: none;
}

.form {
 width: 448px;
 margin-left: auto;
 margin-right: auto;

}


.form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}



.form-input {
  padding-left: 42px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.form-input:hover + .icon-input,
.form-input:focus + .icon-input {
  fill: var(--bg-buttons-color-hover);
  
}
.form-input:hover,
.form-input:focus {
  border-color: var(--bg-buttons-color-hover);
  
}



.form-label {
  font-size: 12px;
  color: rgba(117, 117, 117, 1);
}




.icon-input {
 position: absolute;
 top: 55%;
 left: 15px;
 transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.form-field label {
  margin-bottom: 4px;
  color: var(--secondary-text-color);
}


.form-field input {
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  
}





.textarea {
  width: 448px;
  height: 120px;

  resize: none;
  
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  
  padding-top: 12px;
  padding-left: 16px;

  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.17;
  
}

.textarea:hover,
.textarea:focus{
 border-color: var(--bg-buttons-color-hover);

 
}
  

/* checkbox */

.checkbox {
  appearance: none;
}

.form-checkbox {
  width: 450px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 30px;
}

.checkbox-text {
  display: block;
  color: rgba(117, 117, 117, 1);

  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.checkbox-link {
  color: var(--bg-buttons-color-hover);
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0px;
  padding: 0px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox-label {
  display: flex;
  align-items: center;
  text-align: center;

  margin-left: 13px;
  margin-top: 20px;
  
}

.checkbox-icon {
  margin-right: 8px;
  border-radius: 2px;
  border: 2px solid var(--maim-text-color);
  
}

.checkbox:checked+.checkbox-label>.checkbox-icon {
  background-color: var(--bg-buttons-color-hover);
  border-color: var(--bg-buttons-color-hover);
  background-origin: border-box;
 
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}










.button-send {
  display: flex;
  
  line-height: 1.87;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  color: var(--bg-color);
  background-color: var(--bg-buttons-color-hover);
  font-family: inherit;

  border-radius: 4px;
  border: none;
  padding: 10px 55px;

 margin: 0 auto;
 margin-top: 30px;
 
 box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

  
  
}



.button-send:hover,
.button-send:focus{
  background-color: rgba(24, 140, 232, 1);
  color: var(--bg-color);
  font-weight: 700;


  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

 
}

